<h3>Unsere Bestehenden <strong>Partnerschaften</strong></h3>

<div class ="col-33">
	<article class 	= "assoc">

		<div 
			class ="img"
			style	= "background-image:url('images/dummy.png')"
		>
		</div>

		<p>
			<strong>RefugeeBoard</strong> ist eine online-Plattform, die einen Überblick über aktuelle Projekte bietet, Ansprechpartner, hilfreiche Links und Adresen rund um das Thema "Ankunft in Deutschland" versammelt und es Hilfesuchenden und Hilfegebern gleichermaßen ermöglicht schnell und direkt in Kontakt zu treten.
		</p>

		<a href="http://refugeeboard.de">refugeeboard.de</a>
	</article><!--
 --><article class 	= "assoc" >

		<div 
			class ="img"
			style	= "background-image:url('images/dummy.png')"
		>
		</div>

		<p>
			<strong>SocialProHub</strong> bietet eine Plattform für Geflüchtete zum Finden und Nutzen digitaler Lösungen, die speziell geschaffen wurden, um sie bei Themen wie Unterkunft, Bildung, soziale Aktivitäten mit Einheimischen, Notdiensten und vielem mehr zu unterstützen. Die Bekanntheit der Website wird u.a. über schwarze Bretter in Flüchtlingsunterkünften sowie durch ProAsyl und dem Flüchtlingsrat vorangetrieben.
		</p>

		<a href="http://socialprohub.org">socialprohub.org</a>
	</article><!--
 --><article class 	= "assoc">

		<div 
			class ="img"
			style	= "background-image:url('images/dummy.png')"
		>
		</div>

		<p>
			<strong>InfoCompass</strong> ist eine Informations- und Kommunikationsplattform für Geflüchtete und Asylsuchende Menschen und Unerstützer in Berlin. Ziel der Plattform ist es, Informationen und Angebote für Geflüchtete und Helfer merhsprachig um Internet aber auch vor Ort in den Unterkünften zur Verfügung zu stellen. Die unterschiedlichen Zielgruppen sollem so wirkungsvoller erreicht werden können.
		</p>

		<a href="http://info-compass.eu">info-compass.eu</a>
	</article>
</div>