<h3 translate = "ASSOCIATES.HEADING"></h3>

<div class ="col-3 wrap">
	<article class 	= "assoc">

		<div 
			class ="img"
			style	= "background-image:url('images/dummy.png')"
		>
		</div>

		<p translate = "ASSOCIATES.PARAGRAPH_1"></p>

		<a href="http://refugeeboard.de">refugeeboard.de</a>
	</article><!--
 <article class 	= "assoc" >

		<div 
			class ="img"
			style	= "background-image:url('images/dummy.png')"
		>
		</div>

		<p>
			<strong>SocialProHub</strong> bietet eine Plattform für Geflüchtete zum Finden und Nutzen digitaler Lösungen, die speziell geschaffen wurden, um sie bei Themen wie Unterkunft, Bildung, soziale Aktivitäten mit Einheimischen, Notdiensten und vielem mehr zu unterstützen. Die Bekanntheit der Website wird u.a. über schwarze Bretter in Flüchtlingsunterkünften sowie durch ProAsyl und dem Flüchtlingsrat vorangetrieben.
		</p>

		<a href="http://socialprohub.org">socialprohub.org</a>
	</article><!--
 --><article class 	= "assoc">

		<div 
			class ="img"
			style	= "background-image:url('images/dummy.png')"
		>
		</div>

		<p translate = "ASSOCIATES.PARAGRAPH_2"></p>

		<a href="http://info-compass.eu">info-compass.eu</a>
	</article>
</div>