<h3 translate = "CONTACT.HEADING"></h3>

<div class ="mono">
	<div id = "contact-links">
		<a href ="mailto:info@metacollect.org"><i class = "fa fa-envelope-square 	fa-2x"></i></a>
		<a href ="https://www.facebook.com/metacollect/" target="_blank"><i class = "fa fa-facebook-square 	fa-2x"></i></a>
		<a href ="https://twitter.com/metacollect" target="_blank"><i class = "fa fa-twitter-square	fa-2x"></i></a>
		<a href ="https://github.com/metacollectorg" target="_blank"><i class = "fa fa-github-square		fa-2x"></i></a>
	</div>
	<p translate = "CONTACT.PARAGRAPH_1"></p>
</div>
