<hgroup>
	<h1 translate = "DATABASE.HEADING"></h2>
</hgroup>

<article ng-controller = "MetaSearchCtrl" id = "search">


	<div id = "search-bar">
		<form ng-submit = "getData()">
			<input 
				type				= "text"
				ng-model 			= "search"
				placeholder			= "{{ 'DATABASE.SEARCH.PLACEHOLDER' | translate }}"
			>
			</input>
			<i 
				class 		= "fa fa-search"
				ng-click 	= "getData()"
			></i>
		</form>
	</div>

	<div class = "results" ng-show = "data">
		<div class ="controls">
			<button ng-click = "data = undefined">
				<i class ="fa fa-times"></i>
			</button>
		</div>
		<ul>
			<li ng-show = "data === true" class ="searching"><div class ="spinner"><div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div></li>
			<li ng-show = "data && data.length == 0" class ="no-matches"> 
				<span translate = "DATABASE.SEARCH.NO_MATCHES"> </span>
				<br/>
				<a 
					href 		= "http://django.dsini20.schedar.uberspace.de/mainApp/accounts/register/"
					translate 	= "DATABASE.SEARCH.REGISTER"
				>
				</a>
			</li>
			<li ng-repeat = "item in data | limitTo:limitResults">
				<span class ="logo" style ="background-image: url('{{item.logo}}')"></span><!--
			--><span class ="title"><a href ="http://django.dsini20.schedar.uberspace.de/mainApp/{{item.id}}/">{{item.title | htmlToPlaintext}}</a></span>
				<div class ="description">
					<div ng-if = "getLanguage() == 'en'">
						{{item.description_en |htmlToPlaintext}}
					</div>
					<div ng-if = "getLanguage() == 'de'">
						{{item.description_de |htmlToPlaintext}}
					</div>
				</div>
			</li>
		</ul>
			<button ng-if="data.length > 10" ng-hide="data.length > 10 && data.length < limitResults" id="button__more-results" ng-click="moreResults()" translate = "DATABASE.SEARCH.MORE_MATCHES"></button>
	</div>
</article>

