<hgroup>
	<h3>Hier finden Sie in Kürze <strong>unsere</strong></h3>
	<h2>Datenbank für Refugee Initiativen</h2>
</hgroup>

<div class = "col-33 tightened-10">
	<article 
		class = "icon-above-text"
		style = "background-image:url('images/dummy.png')"
	>
		Daten verwalten

	</article><!--
 --><article 
		class = "icon-above-text"
		style = "background-image:url('')"
	>

		<i class = "fa fa-warning"></i>
		Daten finden

	</article><!--
 --><article 
		class = "icon-above-text"
		style = "background-image:url('')"
	>

		<i class = "fa fa-warning"></i>
		Daten einbinden

	</article>
</div>
