<h3 translate = "INTERACTION.HEADING"></h3>

<div class = "col-3">
	<artcile 
		class 		= "icon-above-text"
	>
        <a href="http://django.dsini20.schedar.uberspace.de/mainApp/">
            <i class = "fa fa-search fa-3x"></i>
            <h3 translate = "INTERACTION.PART_1.HEADING"></h3>
        </a>
		<p 	translate = "INTERACTION.PART_1.PARAGRAPH">
		</p>
	</artcile><!--
 --><artcile 
		class 		= "icon-above-text"
	>
        <a href="http://django.dsini20.schedar.uberspace.de/mainApp/accounts/login/">
            <i class = "fa fa-sliders fa-3x"></i>
            <h3 translate = "INTERACTION.PART_2.HEADING"></h3>
        </a>
		<p 	translate = "INTERACTION.PART_2.PARAGRAPH">
		</p>
	</artcile><!--
 --><artcile 
		class 		= "icon-above-text"
	>
        <a  smooth-scroll target="interface">
            <i class = "fa fa-file-text-o fa-3x"></i>
            <h3 translate = "INTERACTION.PART_3.HEADING"></h3>
        </a>
		<p 	translate = "INTERACTION.PART_3.PARAGRAPH">
		</p>
	</artcile>
</div>
