<h3 translate = "NETWORK.HEADING"></h3>

<div class = "mono">
    <a class ="logo" style ="background-image:url('images/3_Migration_Hub_-_Migration_Hub_Berlin.png')" href ="http://www.migrationhub.eu/"></a><!--
 --><a class ="logo" style ="background-image:url('images/bplab_test.png')" href ="http://www.betterplace-lab.org/"></a><!--
 --><a class ="logo" style ="background-image:url('images/Code-for-Germany-658x370-f22beae491806b75.jpg')" href ="http://codefor.de/"></a><!--
 --><a class ="logo" style ="background-image:url('images/ini20_logo_final_weiß_300dpi.png')" href ="http://ini20.de/"></a><!--
 --><a class ="logo" style ="background-image:url('images/useeds-rgb_2014.png')" href ="https://www.useeds.de/"></a><!--
 --><a class ="logo" style ="background-image:url('images/logo.png')" href ="http://socialprohub.org/"></a><!--
 --><a class ="logo" style ="background-image:url('images/prosper.png')" href ="http://prosper.community/"></a><!--
 --><a class ="logo" style ="background-image:url('images/techfugees-logo.png')" href ="http://techfugees.com/"></a>

</div>