<h3 translate = "PRESS.HEADING"></h3>

<article class="mono">
	<a href="http://readwrite.com/2015/12/11/tech-refugees-aid-organizations">
        How Tech Is Helping Europe's Refugees
	</a>
	<a href="http://www.onlinekosten.de/news/fluechtlinge-apps-sollen-beim-ankommen-helfen_203118.html">
        Flüchtlinge: Apps sollen beim Ankommen helfen
	</a>
	<a href="http://ini20.de/2016/01/metacollect/">
		http://ini20.de/2016/01/metacollect/
	</a>
	<br/>
	<p translate="PRESS.PARAGRAPH_1"></p>
	<a href="mailto:pr@metacollect.org">pr@metacollect.org</a>
</article>
