<h3>Unser <strong>Team</strong></h3>

<div 
	class =	"img-block"
	style =	"background-image:url('')" 
>
	<i class = "fa fa-users"></i>
</div>


<div class = "mono">
	<p>
		metacollect ist auf dem <strong>»Refugee Hackathon« im Oktober 2015</strong> in Berlin entstanden und wird in Zusammenarbeit mit existierenden Vernetzungs- und Übersichtsplattformen weiterentwicklet. Das Team besteht unter anderem aus Moritz, Ulrike, Markus, Britta, Stefan, Jan, Michael, Martin, John, Dandy, Steffen, Finn, Willi, Oli und Christian.
	</p>
</div>