/*fonts*/

@font-face { font-family: 'fira-sans-semi-bold'; 	src: url('../fonts/FiraSans-SemiBold.otf')		format('opentype'); }
@font-face { font-family: 'fira-sans-light'; 		src: url('../fonts/FiraSans-Light.otf')			format('opentype'); }
@font-face { font-family: 'fira-sans-regular'; 		src: url('../fonts/FiraSans-Regular.otf')		format('opentype'); }



/*colors*/


/* 
	light-grey:				#f2f2f2;
	dark-grey:				#e8e8e8;
	teal:					#03b6ac;
	dark-blue:				#2c3546;

	text-grey:				#2c3546;
	text-lightgrey:			#525863;

*/


.bgc-1 {
	background-color:			#f2f2f2;
	color:						#2c3546;
}

.bgc-1 h3 {
	color:						#525863;
}



.bgc-2 {
	background-color:			#03b6ac;
	color:						#fff;
}

.bgc-2 h3 {
	color:						#fff;
}



.bgc-3 {
	background-color:			#fff;
	color:						#2c3546;
}

.bgc-3 h3 {
	color:						#2c3546;
}




.bgc-4 {
	background-color:			#2c3546;
	color:						#fff;
}


#metacollect{
	font-size:					1.6rem;
	display:					inline-block;
	margin:						0;
}

#metacollect h1{
	font-weight:				normal;
	margin:						0;
	text-align:					left;
	font-size:					1.6em;
	line-height:				1;
	font-family:				fira-sans-light;
	color:						#2c3546;

}

#metacollect h1 strong{
	font-family:				fira-sans-regular;
	font-weight:				bold;
	line-height:				1em;
}

#metacollect h2{
	font-weight:				normal;
	margin:						0;
	text-align:					left;
	font-size:					0.65em;
	line-height:				1em;
	font-family:				fira-sans-regular;
	color:						#03b6ac;
	font-style:					italic;
}






body,
html {
	padding:				0;
	margin:					0;
	font-family:			fira-sans-regular, sans-serif;
}


body {
	padding-top:			8rem;
}


header {
	padding:				2rem;
	position:				fixed;
	left:					0;
	right:					0;
	top:					0;
	background-color:		#fff;
	z-index:				99;
	transition:				border 300ms, padding 300ms;
}


.narrow header {
	padding-left:			1rem;
	padding-right:			1rem;
}

header.slim {
	padding-top:			0.5rem;
	padding-bottom:			0.5rem;
	box-shadow:				0 0 0.5rem rgba(0,0,0,0.3);	
}


header > *{
	display:				inline-block;
	vertical-align:			middle;
	line-height:			3.6rem;
	height:					3.6rem;
}

header nav {
	margin-right:			2rem;
	float:					right;
}

header nav a {
	margin:					0 1rem;
}



.narrow header nav {
	display:				block;
	float:					none !important;
	clear:					both;
	margin:					0;
	transition:				all 300ms;
}

.narrow header nav a {
	margin:					0;
	padding:				0 0.5rem;
	border-left:			0.1rem solid #ccc;
}

.narrow header nav a:first-child {
	padding-left:			0;
	border-left:			none;
}

.narrow header.slim nav {
	opacity:				0;
	height:					0;
	overflow:				hidden;
}



header button {
	float:					right;
	line-height:			3.6rem;
	margin-left:			1rem;
	transition:				opacity 300ms;
}

header button .active {
	color:					#03b6ac;
}

 #scroll-top {
 	font-size:				3.6rem;
 }

header:not(.slim) #scroll-top {
	opacity:				0;
}



body > section{
	display:				block;
}

body > section > section  {
	display:				block;
	margin:					0;
	padding:				4rem 0;
}


a{
	text-decoration:		none;
	color:					inherit;
	cursor:					pointer;
}

button {
	border:					none;
	border-radius:			none;
	cursor: 				pointer;
	background:				transparent;
	color:					inherit;
	padding:				0;
	width:					auto;
	font-size:				inherit;
}

button::-moz-focus-inner {
  	border: 			0;
}


h2 {
	font-size:				2rem;
	text-align:				center;
}

h3 {
	color:					#525863;
	margin-top:				1rem;
	margin-bottom:			3rem;
	font-size:				2rem;
	font-weight:			normal;
	text-align:				center;
}




hgroup {
	margin:					3rem 0;
}

hgroup h2 {
	margin:					0;
	line-height:			2em;
}

hgroup h3 {
	margin:					0;
	font-family:			fira-sans-light;
}


ul {
	list-style: 			none;
	margin:					0;
	padding:				0;
	text-align:				left;
}

ul li {
	line-height:			1.2rem;
	height:					2.4rem;
	margin:					1rem 0;
}




footer {
	padding:				1rem;
	line-height:			2em;
}






.max-rem {
	width:					60rem;
	margin:					auto;
}

.narrow .max-rem {
	width:					30rem;
}




.col-3 {
	text-align:				center;
}

.col-3 > * {
	display:				inline-block;
	width:					14rem;
	margin:					1rem 3rem;
	vertical-align:			top;
}


.narrow .col-3:not(.wrap) > * {
	width:					9rem;
	margin:					1rem 0;
} 


.narrow .col-3:not(.wrap) > *:nth-child(2) {
	margin:					1rem 1rem;
}


.narrow .col-3.wrap > * {
	width:					25rem;
	margin:					1rem 0;
}






.col-2 {
	text-align:				center;
	margin:					5rem 0;
}

.col-2 > * {
	display:				inline-block;
	width:					24rem;
	vertical-align:			top;
}



.col-2 > *:first-child{
	margin-right:			6rem;
}

.col-2 > *:last-child{
	margin-left:			6rem;
}


.narrow .col-2 > * {
	width:					25rem;
	margin:					0 !important;
}



.mono {
	text-align:				center;
	font-style: 			italic;
	width:					30rem;
	margin:					auto;
}


.narrow .mono {
	width:					25rem;
}


.icon-above-text {
	position:				relative;
	padding-top:			6rem;
	background-size:		auto 6rem;
	background-position:	50% 0;
	background-repeat:		no-repeat;
	font-style: 			italic
}

.icon-above-text i.fa{
	position:				absolute;
	top:					0;
	left:					0;
	right:					0;
	height:					6rem;
	font-size:				3rem;
	line-height:			2em;
	color:					#03b6ac;
}







.img-block {
	display:				block;
	height:					20rem;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
	background-size:		auto 20rem;
	text-align:				center;
}


.img-block i.fa {
	display:				block;
	padding:				0 auto;
	line-height:			1.25em;
	font-size:				16rem;
}




.assoc {
	text-align:				left;
	background-color:		rgba(0,0,0,0.1);
}

.assoc > * {
	margin:					10%;
	font-size:				0.85rem;
}


.narrow .assoc > * {
	font-size:				1rem;
}

.assoc .img{
	display:				block;
	padding-top:			80%;
	background-size:		contain;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
}

.assoc a {
	display:				block;
	text-decoration: 		none;
	font-weight:			bold;
	color:					inherit;
	font-size:				1.1em !important;
}



#search input{
	display:				block;
	margin:					auto;
	border-radius:			0.25em;
	padding:				0.25em 1em;
	font-size:				1.6em;
	width:					20em;
	border:					none;
	background:				#fff;
	color:					#000;
	font-family:			sans-serif;
	box-shadow:				0 0 0.5em rgba(0,0,0,0.2);
	margin:					2em auto;
}

.narrow #search input{
	width:					10em;
}

#search .results {
	display:				block;
	margin:					1em 2em;
	background:				#fff;
	border-radius:			0.25em;
	padding:				2em;
}

#search .results .controls {
	display:				block;
	text-align:				right;
}

#search .results .controls > *{
	display:				inline-block;
	text-align:				center;
	line-height:			2em;
	width:					2em;
	margin:					0 1em;
	cursor:					pointer;
}

#search .results li {
	height:					auto;
}

#search .results .no-matches,
#search .results .searching {
	text-align:				center;
}

#search .results .logo {
	display:				inline-block;
	height:					3em;
	width:					3em;
	vertical-align:			middle;
	background-repeat: 		no-repeat;
	background-size:		contain;
	background-position:	50% 50%;
	margin:					0 1em;
}

#search .results .title{
	color:					#000;
	line-height:			3em;
	vertical-align:			middle;
	font-weight:			bold;
}

#search .results .title:hover {
	text-decoration:		underline;
}

#search .results .description{
	margin-left:			5em;
}

#search .results .description div {
	font-size:				0.9em;
	font-style: 			italic;
}



.spinner {
	display:				inline-block;
	height:					0;
	width:					0;
	margin:					1em;
	transform-origin:		0 0;
	animation:				rotate linear 1500ms infinite;
	-webkit-animation:		rotate linear 1500ms infinite;
}

@keyframes rotate{
	0%{
		transform:			rotate(0deg);
	}
	100%{
		transform:			rotate(359deg);
	}
}

@-webkit-keyframes rotate{
	0%{
		transform:			rotate(0);
	}
	100%{
		transform:			rotate(360);
	}
}


.spinner > div {
	position:				absolute;
	margin-top:				-0.1em;
	height:					0.2em;
	width:					0.5em;
	background:				#444;
	margin-left:			0.4em;
	transform-origin:		-0.4em 0.1em;
}


.spinner > div:nth-of-type(1){
	transform:		rotate(0deg);
	background:		#03b6ac;
}

.spinner > div:nth-of-type(2){
	transform:		rotate(40deg);
}

.spinner > div:nth-of-type(3){
	transform:		rotate(80deg);
}

.spinner > div:nth-of-type(4){
	transform:		rotate(120deg);
}

.spinner > div:nth-of-type(5){
	transform:		rotate(160deg);
}

.spinner > div:nth-of-type(6){
	transform:		rotate(200deg);
}

.spinner > div:nth-of-type(7){
	transform:		rotate(240deg);
}

.spinner > div:nth-of-type(8){
	transform:		rotate(280deg);
}

.spinner > div:nth-of-type(9){
	transform:		rotate(320deg);
}
