/*fonts*/

@font-face { font-family: 'fira-sans-semi-bold'; 			src: url('../fonts/FiraSans-SemiBold.otf')		format('opentype'); }
@font-face { font-family: 'fira-sans-light'; 				src: url('../fonts/FiraSans-Light.otf')			format('opentype'); }
@font-face { font-family: 'fira-sans-regular'; 				src: url('../fonts/FiraSans-Regular.otf')		format('opentype'); }


@font-face { font-family: 'source-code-pro-regular'; 		src: url('../fonts/SourceCodePro-Regular.ttf')		format('truetype'); }
@font-face { font-family: 'source-code-pro-light'; 			src: url('../fonts/SourceCodePro-Light.ttf')		format('truetype'); }
@font-face { font-family: 'source-code-pro-extra-light'; 	src: url('../fonts/SourceCodePro-ExtraLight.ttf')	format('truetype'); }



/*colors*/


/* 
	light-grey:				#f2f2f2;
	dark-grey:				#e8e8e8;
	deep-blue:				#1922fb;
	dark-blue:				#2c3546;

	text-grey:				#2c3546;
	text-lightgrey:			#525863;

*/


.bgc-1 {
	background-color:			#ededef;
	color:						#2c3546;
}

.bgc-1 h3 {
	color:						#525863;
}



.bgc-2 {
	background-color:			#1922fb;
	color:						#fff;
}

.bgc-2 h3 {
	color:						#fff;
}



.bgc-3 {
	background-color:			#fff;
	color:						#2c3546;
}

.bgc-3 h3 {
	color:						#2c3546;
}


#metacollect{
	display:					inline-block;
	font-size:					3.6em;
	height:						1em;
	width:						2em;
	background-image:			url('../images/mc_1.png');
	background-size:			contain;
	background-position: 		0 50%;
	background-repeat:			no-repeat;
	margin:						0 0.5em;
}







body,
html {
	padding:				0;
	margin:					0;
	font-family:			source-code-pro-regular, monospace;
	scroll-behavior: 		smooth;
}


body {
	padding-top:			8rem;
}

boy.narrow {
	padding-top:			11rem;
}


header {
	padding:				2rem;
	position:				fixed;
	left:					0;
	right:					0;
	top:					0;
	background-color:		#fff;
	z-index:				99;
	transition:				border 300ms, padding 300ms;
}


.narrow header {
	padding-left:			1rem;
	padding-right:			1rem;
}

header.slim {
	padding-top:			0.5rem;
	padding-bottom:			0.5rem;
	box-shadow:				0 0 0.5rem rgba(0,0,0,0.3);	
}


header > *{
	display:				inline-block;
	vertical-align:			middle;
	line-height:			3.6rem;
	height:					3.6rem;
}

header nav {
	margin-right:			2rem;
	float:					right;
}

header nav a {
	margin:					0 1rem;
}



.narrow header nav {
	display:				block;
	float:					none !important;
	clear:					both;
	margin:					0;
	transition:				all 300ms;
	line-height:			2rem;
	padding-top:			2rem;
	padding-bottom:			0;
	text-align:				center;
}

.narrow header nav a {
	margin:					0;
	padding:				0 0.5rem;
}

.narrow header nav a:first-child {
	padding-left:			0;
	border-left:			none;
}

.narrow header.slim nav {
	opacity:				0;
	height:					0;
	padding:				0 !important;
	overflow:				hidden;
}



header button {
	float:					right;
	line-height:			3.6rem;
	margin-left:			1rem;
	transition:				opacity 300ms;
}

header button .active {
	font-weight:			bold;
}

 #scroll-top {
 	font-size:				3.6rem;
 }

header:not(.slim) #scroll-top {
	opacity:				0;
}



body > section{
	display:				block;
}

body > section > section  {
	display:				block;
	margin:					0;
	padding:				4rem 0;
}


a{
	text-decoration:		none;
	color:					inherit;
	cursor:					pointer;
}

button {
	border:					none;
	border-radius:			none;
	cursor: 				pointer;
	background:				transparent;
	color:					inherit;
	padding:				0;
	width:					auto;
	font-size:				inherit;
}

button::-moz-focus-inner {
  	border: 			0;
}

h1 {
	font-family:			source-code-pro-extra-light, monospace;
	color:					#1922fb;
	text-align:				center;
	font-size:				1.6rem;
	width:					40rem;
	margin:					0 auto;
	margin-bottom:			5rem;
}

.narrow h1 {
	font-size:				1.2rem;
	width:					28rem;
}

h2 {
	font-size:				2rem;
	text-align:				center;
}

h3 {
	color:					#525863;
	margin-top:				1rem;
	margin-bottom:			4rem;
	font-size:				2rem;
	font-weight:			normal;
	text-align:				center;
}




hgroup {
	margin:					3rem 0;
}

hgroup h2 {
	margin:					0;
	line-height:			2em;
}

hgroup h3 {
	margin:					0;
	font-family:			source-code-pro-light;
}


ul {
	list-style: 			none;
	margin:					0;
	padding:				0;
	text-align:				left;
}

ul li {
	margin:					0;
}




footer {
	position:				relative;
	padding:				1rem 2rem;
}

footer > a {
	position:				absolute;
	bottom:					1rem;
}

footer > a:hover {
	color:					#fff;
	text-decoration:		underline;
}

footer > p {
	display:				block;
	margin:					0;
	margin-left:			auto;
	width:					30rem;
}

.narrow footer {
	padding-bottom:			4rem;
}

.narrow footer a {
	bottom:					1rem;
	display:				block;
	text-align:				center;
	left:					1rem;
	right:					1rem;
}

.narrow footer > p {
	width:					auto;
}





.max-rem {
	width:					60rem;
	margin:					auto;
}

.narrow .max-rem {
	width:					30rem;
}




.col-3 {
	text-align:				center;
	margin:					0rem 0rem;

}

.col-3 > * {
	display:				inline-block;
	width:					16rem;
	margin:					1rem 2rem;
	vertical-align:			top;
}

.col-3 p {
	text-align:				left;
}



.narrow .col-3 > * {
	width:					20rem;
	margin:					1rem 0;
}




a:hover {
	color:					#1922fb;
}
 


em {
	font-style: 			normal;
	text-decoration:		underline;
}


.col-2 {
	text-align:				center;
	margin:					0rem 3rem;
}

.col-2 > * {
	display:				inline-block;
	width:					23rem;
	vertical-align:			top;
	margin:					0 2rem; 
}


.narrow .col-2 > * {
	width:					25rem;
	margin:					1rem 0 !important;
}



.mono {
	text-align:				center;
	width:					40rem;
	margin:					auto;
}


.narrow .mono {
	width:					23rem;
}


.icon-above-text {
	position:				relative;
	padding-top:			6rem;
	background-size:		auto 6rem;
	background-position:	50% 0;
	background-repeat:		no-repeat;
	font-style: 			italic
}

.icon-above-text i.fa{
	position:				absolute;
	top:					0;
	left:					0;
	right:					0;
	height:					6rem;
	font-size:				3rem;
	line-height:			2em;
}

.icon-above-text h3 {
	font-size:				inherit;
	margin-bottom:			2rem;
}

.icon-above-text p {
	font-style: 			normal;
}







.img-block {
	display:				block;
	height:					20rem;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
	background-size:		auto 20rem;
	text-align:				center;
}


.img-block i.fa {
	display:				block;
	padding:				0 auto;
	line-height:			1.25em;
	font-size:				16rem;
}




.assoc {
	text-align:				left;
	background-color:		rgba(0,0,0,0.1);
}

.assoc > * {
	margin:					10%;
	font-size:				0.85rem;
}


.narrow .assoc > * {
	font-size:				1rem;
}

.assoc .img{
	display:				block;
	padding-top:			80%;
	background-size:		contain;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
}

.assoc a {
	display:				block;
	text-decoration: 		none;
	font-weight:			bold;
	color:					inherit;
	font-size:				1.1em !important;
}

#search {
	width:					40rem;
	margin:					auto;
}

.narrow #search {
	width:					28rem;
}

#search-bar {
	background:				#fff;
	position:				relative;
	font-size:				1.6em;
	line-height:			1.4em;
}

#search-bar i:nth-of-type(1) {
	position:				absolute;
	display:				inline-block;
	left:					0.5em;
	top:					0.5em;
}

#search-bar i:nth-of-type(2) {
	position:				absolute;
	display:				inline-block;
	right:					0.5em;
	top:					0.5em;
	cursor:					pointer;
}

#search-bar input{
	display:				inline-block;
	margin:					auto;
	border:					none;
	width:					34rem;
	background:				transparent;
	color:					#000;
	font-size:				1em;
	padding:				0.25em 3rem;
	line-height:			1.4em;
	height:					1.4em;
	font-family:			source-code-pro-regular;
}

.narrow #search-bar input{
	font-size:				0.7em;
	line-height:			2em;
	height:					2em;
	width:					22rem;
}


#search .results {
	position:				relative;
	display:				block;
	margin:					1em 0;
	background:				#fff;
	padding:				2em;
}

#search .results .controls {
	position:				absolute;
	display:				inline-block;
	top:					0;
	right:					0;
	text-align:				right;
}

#search .results .controls > *{
	display:				inline-block;
	text-align:				center;
	line-height:			2em;
	width:					2em;
	cursor:					pointer;
}

#search .results li {
	height:					auto;
	margin:					3rem 0;
}

#search .results .no-matches,
#search .results .searching {
	text-align:				center;
}

#search .results .logo {
	display:				inline-block;
	height:					3em;
	width:					3em;
	vertical-align:			middle;
	background-repeat: 		no-repeat;
	background-size:		contain;
	background-position:	50% 50%;
	margin:					0;
	margin-right:			1rem;
	vertical-align:			middle;
}

#search .results .title{
	display:				inline-block;
	color:					#000;
	vertical-align:			middle;
	font-weight:			bold;
	width:					32rem;
}

.narrow #search .results .title {
	width:					20rem;
}

#search .results .title:hover {
	text-decoration:		underline;
}

#search .results .description{
	margin-left:			4em;
}

#search .results .description div {
	font-size:				0.9em;
	font-style: 			italic;
}



.spinner {
	display:				inline-block;
	height:					0;
	width:					0;
	margin:					1em;
	transform-origin:		0 0;
	animation:				rotate linear 1500ms infinite;
	-webkit-animation:		rotate linear 1500ms infinite;
}

@keyframes rotate{
	0%{
		transform:			rotate(359deg);
	}
	100%{
		transform:			rotate(0deg);
	}
}

@-webkit-keyframes rotate{
	0%{
		transform:			rotate(359deg);
	}

	100%{
		transform:			rotate(0deg);
	}
}


.spinner > div {
	position:				absolute;
	margin-top:				-0.1em;
	height:					0.2em;
	width:					0.5em;
	background:				#444;
	margin-left:			0.4em;
	transform-origin:		-0.4em 0.1em;
	animation:				pulse 1350ms ease-in infinite;
}


.spinner > div:nth-of-type(1){
	transform:			rotate(0deg);
	animation-delay:	0ms;
}

.spinner > div:nth-of-type(2){
	transform:			rotate(40deg);
	animation-delay:	150ms;
}

.spinner > div:nth-of-type(3){
	transform:			rotate(80deg);
	animation-delay:	300ms;
}

.spinner > div:nth-of-type(4){
	transform:			rotate(120deg);
	animation-delay:	450ms;
}

.spinner > div:nth-of-type(5){
	transform:			rotate(160deg);
	animation-delay:	600ms;
}

.spinner > div:nth-of-type(6){
	transform:			rotate(200deg);
	animation-delay:	750ms;
}

.spinner > div:nth-of-type(7){
	transform:			rotate(240deg);
	animation-delay:	900ms;
}

.spinner > div:nth-of-type(8){
	transform:			rotate(280deg);
	animation-delay:	1050ms;
}

.spinner > div:nth-of-type(9){
	transform:			rotate(320deg);
	animation-delay:	1200ms;
}


@keyframes pulse{

	100%{
		background-color:	#1922fb;
	}

	90%{
		background-color:	#1922fb;
	}

	89%{
		background-color:	#000;
	}

	0%{
		background-color:	#000;
	}


	
}

@-webkit-keyframes pulse{
	0%{
		transform:			rotate(359deg);
	}

	100%{
		transform:			rotate(0deg);
	}
}



.narrow #contact-links {
	font-size:			2rem;
}



.logo {
	display:			inline-block;
	width:				8rem;
	height:				8rem;
	background-size:	contain;
	background-position:50% 50%;
	background-repeat:	no-repeat;
	margin:				0 1rem;
	vertical-align:		middle;
}